# ANALIZA KNJIG

In [1]:
import pandas as pd
import os

Naložimo podatke ter jih shranimo.

In [2]:
ime_datoteke_knjige = os.path.join("obdelani-podatki", "knjige.csv")
ime_datoteke_zanri = os.path.join("obdelani-podatki", "zanri.csv")
ime_datoteke_opisi = os.path.join("obdelani-podatki", "opisi.csv")
knjige = pd.read_csv(ime_datoteke_knjige, index_col="id")
zanri = pd.read_csv(ime_datoteke_zanri, index_col="id")
opisi = pd.read_csv(ime_datoteke_opisi, index_col="id")

In [3]:
knjige

,naslov,avtor,ocena,stevilo_ocen,stevilo_mnenj,leto_izdaje,stevilo_strani
id,,,,,,,
0,To Kill a Mockingbird,Harper Lee,4.27,5446446,106173,2006,336
1,Harry Potter and the Sorcerer's Stone,J.K. Rowling,4.47,8843150,139492,1997,309
2,Pride and Prejudice,Jane Austen,4.28,3748764,92842,2000,279
3,The Diary of a Young Girl,Anne Frank,4.18,3346319,36028,1947,283
4,Animal Farm,George Orwell,3.98,3396649,77462,1945,141
...,...,...,...,...,...,...,...
4994,The Autobiography of Henry VIII: With Notes by...,Margaret George,4.25,27535,1005,1986,939
4995,The Red Queen: Sex and the Evolution of Human ...,Matt Ridley,4.05,16202,697,2003,405
4996,Washington: A Life,Ron Chernow,4.13,66836,2823,2010,904
4997,Vampire Chronicles: Interview with the Vampire...,Anne Rice,4.29,13407,234,1992,9
4998,Life is Elsewhere,Milan Kundera,3.95,17396,1096,1973,432

#Analiza knjig glede na oceno

In [6]:
knjige.sort_values("ocena", ascending=False).head(15)

,naslov,avtor,ocena,stevilo_ocen,stevilo_mnenj,leto_izdaje,stevilo_strani
id,,,,,,,
4624,"Ama Dios (4 AoL Consciousness Books Combined, ...",Nataša Pantović,5.00,6,2,2019,1869
246,The Addiction Manifesto,Jerry Weaver,4.89,1031,41,2021,178
1017,The Complete Calvin and Hobbes,Bill Watterson,4.80,38457,1115,2005,1456
4403,Addressed To Her: A Short Story,Granthana Sinha,4.80,15,11,2019,32
1978,Mark of the Lion Trilogy,Francine Rivers,4.77,12371,843,1998,1468
685,The Chain Between Worlds,Johnathon Nicolaou,4.76,769,30,2021,335
4541,Meditation: Insights and Inspirations,Amit Ray,4.75,161,37,2010,146
4721,Le Monogramme,Odysseas Elytis,4.75,2440,106,1997,40
4676,Words of Radiance,Brandon Sanderson,4.75,278398,16787,2014,1087
793,Down and Rising,Rohith S. Katbamna,4.75,167,63,2019,676
4456,Dangerous Ways,R.R. Virdi,4.73,908,60,2016,558
4439,Know My Name,Chanel Miller,4.72,145110,20529,2019,384
3588,EXSTATICA Self-Help Essentials: Unleash the Tr...,Frank,4.71,21,4,2021,122
4044,பொன்னியின் செல்வன்,Kalki,4.70,9350,770,1954,1452
3658,Mindfulness Living in the Moment - Living in t...,Amit Ray,4.69,142,45,2015,160

Kot vidimo zgoraj imajo knjige z malo ocenami lahko nerealne ocene, zato raje vzamemo knjige z več kot 50000 ocenami.

In [8]:
knjige[knjige.stevilo_ocen > 50000].sort_values("ocena", ascending=False).head(15)

,naslov,avtor,ocena,stevilo_ocen,stevilo_mnenj,leto_izdaje,stevilo_strani
id,,,,,,,
4676,Words of Radiance,Brandon Sanderson,4.75,278398,16787,2014,1087
4439,Know My Name,Chanel Miller,4.72,145110,20529,2019,384
730,The Way of Kings,Brandon Sanderson,4.65,397766,27506,2010,1007
226,The Essential Calvin and Hobbes: A Calvin and ...,Bill Watterson,4.64,117618,955,1988,256
1349,Just Mercy: A Story of Justice and Redemption,Bryan Stevenson,4.63,202107,23270,2014,336
14,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,3338517,76478,2007,759
3934,The Calvin and Hobbes Tenth Anniversary Book,Bill Watterson,4.62,51257,461,1995,208
3517,Kingdom of Ash,Sarah J. Maas,4.62,265609,26621,2018,984
2490,A Court of Mist and Fury,Sarah J. Maas,4.62,836224,77671,2016,626
3915,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.61,199813,866,2003,412
2967,Crooked Kingdom,Leigh Bardugo,4.61,481950,55380,2016,561
181,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.61,124774,2057,1955,1728
4933,Oathbringer,Brandon Sanderson,4.61,187047,11773,2017,1248
337,Holy Bible: New International Version,Anonymous,4.60,75077,2574,1985,1248
335,Calvin and Hobbes,Bill Watterson,4.60,145230,1015,1987,128

Zdaj pa poglejmo še kakšne povprečne ocene imajo posamezni žanri.

In [28]:
knjige_z_zanri = pd.merge(knjige, zanri, left_on="id", right_on="id")
knjige_z_zanri[["ocena", "zanr"]].groupby("zanr").mean().sort_values("ocena", ascending=False).head(20)

                      ocena
zanr
Tarot               4.71000
Turkish Literature  4.56000
Turkish             4.56000
Catholic            4.53000
New Age             4.52000
Marathi             4.51000
Family              4.48000
Lds                 4.45375
Islam               4.44600
Prayer              4.41250
Greek Mythology     4.41000
High Fantasy        4.39000
Games               4.39000
Astronomy           4.38000
Adoption            4.38000
Cooking             4.37000
Culinary            4.37000
Gaming              4.36500
Novella             4.36000
Architecture        4.35500

Očitno so najbolje ocenjene religiozne knjige. Hipotezo, da bodo najbolje ocenjene klasike torej lahko zavržemo. Sploh pa poleg turške literature leposlovja sploh ni na spregled, pojavi se šele na 12. mestu s High Fantasy.  

Naravno vprašanje, ki sledi pa je v kakšnem razmerju sta povprečna ocena žanra in količina knjig napisanih v tem žanru.

In [44]:
kolicina_po_zanrih = knjige_z_zanri.groupby("zanr").size().to_frame("kolicina")
ocene_po_zanrih = knjige_z_zanri.groupby("zanr")["ocena"].mean().to_frame("ocena")
pd.merge(ocene_po_zanrih, kolicina_po_zanrih, left_on="zanr", right_on="zanr").plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.